.paginationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media (max-width: 550px) {
    justify-content: center;
  }
}

.paginationArrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.arrowsNone {
  @media (max-width: 550px) {
    display: none;
  }
}

.numbersWrapper {
  display: flex;
  align-items: center;
  gap: 25px;

  @media (max-width: 650px) {
    gap: 15px;
  }
}

.paginationBtn,
.paginationArrow {
  font-family: "Helios Antique", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary);
}

.carouselArrows {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
